:root{
    --postcolor: #ffffff;
    --inp: #f0f2f5;
    --sec-color: #000000;
    --font: .9375rem;
}
i,svg{
    color: black;
}
.menu div:hover,.mi-1 div:hover,.mi-2 span:hover,
.s-1 div:hover,.ico-name:hover,.page div:hover,.c-cont:hover
{ background-color: #b0b3b84d;}

.c-cont .online{
    border: 3px solid #f0f2f5;
}
.c-cont:hover .online{
    border: 3px solid #f0f2f5;
}
.creat-story .cs-3{
    color: #000000;
}
.f-ico i{
    color: white;
}
.menu i{
    color: #000000;
}
